body { 
    background-color: #e9ecef; 
    font-family: sans-serif; 
    margin: 0; 
    padding: 0 0 3rem ; 
}

header { 
    background: #222; 
    color: #fff; 
    padding: 1.5rem; 
    text-align: center; 
}

header h1 {
     margin: 0 0 1rem 0; }

header a { 
    margin: 0 1rem; color: #ddd;
     text-decoration: none;
      font-weight: bold; }

main {
    background-color: #c19a6b; 
    max-width: 900px;
    margin: 3rem auto;
    padding: 2.5rem;
    border: 10px solid #5c4033; 
}

#items-board { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); 
    gap: 2rem; 
}


#items-board section { 
    background: #fff; 
    padding: 1.5rem;  
}

#items-board section::before {
    content: "";
    display: block;
    width: 65px;
    height: 20px;
    background: rgba(255, 255, 255, 0.7);
    margin: -35px auto 15px auto; 
}


label {
     display: block;
     font-weight: bold; 
     margin-top: 1rem; 
}

input, select { 
    width: 100%; 
    padding: 0.6rem; 
    margin-top: 0.25rem; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
}

fieldset { 
    border: none;
    padding: 0;
    display: flex; 
    gap: 1rem; 
}

button { 
    background: #222; 
    color: #fff; 
    width: 100%; 
    padding: 0.75rem; 
    font-weight: bold; 
    border: none; 
    cursor: pointer; 
    margin-top: 1rem; 
}

button:hover { 
    background: #444; 
}